
*.xml
s5005662_Assignment_Server1/.DS_Store
*.iml
s5005662_Assignment_Server1/received_files/.DS_Store
*.txt
*.zip
s5005662_Assignment_Server1/source_code1/.DS_Store
s5005662_Assignment_Server1/source_code1/pwRetrieve.py
